<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">


    <!-- Main Info -->
    <h4>Event Information</h4>
    <p><%= @event.name %></p>
    <p><%= @event.description %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Free shit</h4>
    <ul class="amenities">
      <li><%= !@event.includes_drinks ? ("<s>Free drinks</s>").html_safe : "Free drinks" %></li>
      <li><%= !@event.includes_food ? ("<s>Free food</s>").html_safe : "Free food" %></li>
    </ul>

    <h4>Categories</h4>
    <ul class="amenities">
      <% @categories.each do |category| %>
      <li><%= category.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<% if current_user != @event.user %>
<div class="panel panel-primary">
  <div class="panel-heading">Book this room</div>

  <div class="panel-body">
    <%= render 'registrations/form' %>
  </div>
</div>
<% end %>

<%= link_to "Back", events_path, class: "btn btn-default" %>
