<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        All Events
      </div>
      <div class="panel-body">
          <% @events.each do |event| %>
          <div class="row">
            <div class="col-md-6">
              <h4><%= event.name%></h4>
            </div>
            <div class="col-md-4 right">
              <%= link_to "View", event, class: "btn btn-default" %>
              <% if current_user == event.user %>
              <%= link_to "Update", edit_event_path(event), class: "btn btn-default" %>
              <%= link_to "Delete", event_path(event.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
          <% end %>

        </div>


      </div>
    </div>

    <%= link_to "Your events", events_path, class: "btn btn-primary" %>
  </div>
</div>
